.DS_Store
app/dist/index.html
app/dist/build.js
app/dist/styles.css
app/dist/fonts
app/dist/imgs
app/dist/renderer.js
app/dist/main.js
builds/*
coverage
node_modules
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
