.DS_Store
dist
builds/*
tasks/builds
coverage
node_modules
npm-debug.log
npm-debug.log.*
/package-lock.json
thumbs.db
!.gitkeep
.vscode/*
yarn-error.log
testArtifacts/*
.idea/*
*.crt
*.key
chromedriver.log
src/keybase-cache.json
certs/
.env
screenshots
android
local.log