[req]
distinguished_name=req_distinguished_name
[req_distinguished_name]
[SAN]
subjectKeyIdentifier=hash
authorityKeyIdentifier=keyid:always,issuer:always
basicConstraints=CA:TRUE
subjectAltName=@alt_names
[alt_names]
DNS.1 = localhost