.polkadot {
  /* theme colors */
  --primary: hsl(325, 96%, 44%);
  --primary-hover: hsl(325, 67%, 39%);
  --highlight: hsl(325, 96%, 59%);
  --link: hsl(325, 96%, 59%);
  --link-hover: hsl(325, 67%, 49%);

  /* background-colors */
  --app-fg: hsl(0, 0%, 97%);
  --app-fg-hover: hsl(0, 0%, 92%);
  --app-bg: hsl(0, 0%, 100%);

  /* menu styles */
  --app-nav: hsl(0, 0%, 0%);
  --app-nav-hover: hsl(0, 0%, 10%);
  --menu-link: var(--link);
  --menu-link-hover: var(--link-hover);
  --menu-border: hsl(0, 0%, 15%);

  /* light-theme typography */
  --bright: hsl(0, 0%, 0%);
  --txt: hsl(0, 0%, 10%);
  --dim: hsl(0, 0%, 30%);
  --bc: hsl(0, 0%, 90%);
  --bc-dim: hsl(0, 0%, 95%);
  --input-bc: hsl(0, 0%, 75%);
}
