# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:9.11.1-browsers
    environment:
      - BINARY_PATH: "~/repo/gaia"

    working_directory: ~/repo

    steps:
      - checkout

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-root-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-root-

      - run: yarn

      - save_cache:
          paths:
            - yarn.lock
            - node_modules
          key: v1-dependencies-root-{{ checksum "package.json" }}
 
      - run:
          name: Add Gaia
          command: |
            sudo wget https://www.dropbox.com/s/lyzwloe4swr5is5/gaia-0.13.0-linux?dl=0 -O ~/repo/gaia
            sudo chmod o+wx ~/repo/gaia

      - run: yarn run test
      - run: bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
