# Javascript Node CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-javascript/ for more details
#
version: 2
jobs:
  build:
    docker:
      # specify the version you desire here
      - image: circleci/node:9.4.0-browsers
    environment:
      - BINARY_PATH: "/home/circleci/repo/gaia"
      - NODE_BINARY_PATH: "/home/circleci/repo/gaiad"

    working_directory: ~/repo

    steps:
      - checkout
      
      - run: bash ./changelog-changed-check.sh

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-root-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-root-

      - run: yarn

      - save_cache:
          paths:
            - yarn.lock
            - node_modules
          key: v1-dependencies-root-{{ checksum "package.json" }}
 
      - run:
          name: Add Gaia
          command: |
            sudo wget https://okw.me/gaiacli-0.17.0-ubuntu -O ~/repo/gaia
            sudo chmod o+wx ~/repo/gaia
            sudo wget https://okw.me/gaiad-0.17.0-ubuntu -O ~/repo/gaiad
            sudo chmod o+wx ~/repo/gaiad

      - run: 
          name: Test
          command: yarn run test
          no_output_timeout: 120
      - run: 
          command: bash <(curl -s https://codecov.io/bash) -t $CODECOV_TOKEN
          when: on_success
      - run:
          command: |
            mkdir -p /tmp/test_info
            [ -f test/e2e/snapshot.png ] && cp test/e2e/snapshot.png /tmp/test_info
          when: on_fail
      - store_artifacts:
          path: /tmp/test_info
