.emoney-testnet,
.emoney-mainnet {
  /* theme colors */
  --primary: hsl(200, 62%, 29%);
  --primary-hover: hsl(200, 62%, 24%);
  --highlight: hsl(171, 75%, 45%);
  --link: var(--highlight);
  --link-hover: hsl(171, 75%, 40%);

  /* background-colors */
  --app-fg: var(--light-grey);
  --app-fg-hover: hsl(0, 0%, 90%);
  --app-bg: hsl(0, 0%, 100%);

  /* menu styles */
  --app-nav: var(--primary);
  --app-nav-hover: var(--primary-hover);

  /* light-theme typography */
  --bright: hsl(0, 0%, 0%);
  --txt: hsl(0, 0%, 10%);
  --dim: hsl(0, 0%, 20%);
  --bc: hsl(200, 62%, 39%);
  --bc-dim: hsl(0, 0%, 85%);
  --input-bc: var(--dim);
}