.terra-testnet,
.terra-mainnet {
  /* theme colors */
  --primary: hsl(221, 85%, 31%);
  --primary-hover: hsl(221, 85%, 26%);
  --highlight: hsl(217, 91%, 65%);
  --link: var(--highlight);
  --link-hover: hsl(217, 91%, 60%);

  /* background-colors */
  --app-fg: hsl(0, 0%, 93%);
  --app-fg-hover: hsl(0, 0%, 88%);
  --app-bg: hsl(0, 0%, 100%);
  
  /* menu styles */
  --app-nav: hsl(227, 62%, 42%);
  --app-nav-hover: hsl(227, 62%, 37%);

  /* light-theme typography */
  --bright: hsl(0, 0%, 0%);
  --txt: hsl(0, 0%, 10%);
  --dim: hsl(0, 0%, 20%);
  --bc: hsl(227, 62%, 52%);
  --bc-dim: hsl(0, 0%, 85%);
  --input-bc: var(--dim);
}