.proposal-status {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  border: 2px solid;
  padding: 2px 4px;
  border-radius: 0.25rem;
  color: var(--bc-dim);
  border-color: var(--bc-dim);
}

.proposal-status.rejected {
  color: var(--danger);
  border-color: var(--danger);
}

.proposal-status.depositperiod {
  color: var(--warning);
  border-color: var(--warning);
}

.proposal-status.passed {
  color: var(--success);
  border-color: var(--success);
}

.proposal-status.votingperiod {
  color: var(--highlight);
  border-color: var(--highlight);
}