.session {
  background: var(--app-bg);
  max-width: 40rem;
  border-radius: 2px;
  padding: 2rem;
  position: relative;
  border: 2px solid var(--bc-dim);
  overflow: auto;
  display: flex;
  flex-flow: column;
}

.session-header {
  padding: 1rem 1rem 0;
  display: block;
}

.session-main {
  flex: 1;
  padding: 0 1rem;
}

.session-main p {
  margin-bottom: 1.5rem;
}

.session-title {
  font-size: 38px;
  line-height: 44px;
  color: var(--bright);
  font-weight: 600;
  padding: 1rem 1rem 1.5rem;
}

.session-image {
  height: 6rem;
  padding-left: 1rem;
  margin: 1rem auto;
}

.session-list {
  padding: 1rem 0;
}

.session-list h3 {
  font-size: var(--h3);
  color: var(--bright);
  font-weight: 500;
  padding: 1rem 1rem 0.5rem;
}

.session-paragraph {
  margin-bottom: 1rem;
}

.material-icons.session-back,
.material-icons.session-close {
  font-size: var(--lg);
  cursor: pointer;
  position: absolute;
  top: 1rem;
}

.session-back {
  left: 1rem;
}

.session-close {
  right: 1rem;
}

.session-footer {
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
}

.footnote {
  padding: 1rem 1rem 0;
  font-size: var(--sm);
}

@media screen and (max-width: 1023px) {
  .session {
    height: 100vh;
    padding: 1rem;
  }

  .session-header,
  .session-title,
  .session-main,
  .session-footer {
    padding-left: 0;
    padding-right: 0;
  }
}