.session-frame {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-modal);
  width: 100vw;
  height: 100vh;
  background: var(--app-nav-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-outer-container {
  position: relative;
  padding: 3rem 0;
}

.session-logo {
  height: 2.5rem;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}

.session {
  background: var(--app-bg);
  max-width: 560px;
  border-radius: 2px;
  padding: 2rem;
  position: relative;
  border: 2px solid var(--bc-dim);
  overflow: auto;
}

.session-header {
  padding: 1rem 1rem 0;
  display: block;
}

.session-header p {
  font-size: 14px;
}

.session-main {
  flex: 1;
}

.session-main p {
  margin-bottom: 1.5rem;
}

.session-title {
  font-size: var(--h1);
  line-height: 44px;
  color: var(--bright);
  font-weight: 500;
  padding: 0.5rem 0 1rem 0;
  text-align: center;
}

.session-image {
  height: 6rem;
  padding-left: 1rem;
  margin: 1rem auto;
}

.session-list {
  padding: 1rem 0;
}

.session-list h3 {
  font-size: var(--h3);
  color: var(--bright);
  font-weight: 500;
  padding: 1rem 1rem 0.5rem;
}

.session-paragraph {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.session-back {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.session-close {
  position: absolute;
  right: 1.25rem;
  top: 1.25rem;
}

.session-close-mobile {
  cursor: pointer;
}

.session-footer {
  display: flex;
  justify-content: flex-end;
  padding: 1.5rem 0 1rem;

  /* keeps button in bottom right no matter the size of the action modal */
  flex-grow: 1;
  align-self: flex-end;
}

.footnote {
  padding: 1rem 1rem 0;
  font-size: var(--sm);
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.2s ease;
}

.component-fade-enter,
.component-fade-leave-to .component-fade-leave-active {
  opacity: 0;
}

.session-logo-mobile {
  display: block;
  height: 2.5rem;
  margin: 1rem 1rem 3.5rem;
}

.field-checkbox-input {
  display: block;
  line-height: 14px;
  font-size: 14px;
}

.accounts-header {
  padding: 0 1rem;
}

.session .material-icons.circle.back {
  background: var(--app-fg);
  color: var(--dim);
  border-radius: 50%;
  padding: 0.25rem;
  cursor: pointer;
  font-size: var(--x);
}

@media screen and (min-width: 667px) {
  .session {
    width: 100%;
    min-width: 560px;
  }

  .field-checkbox-input {
    padding-left: 1.5rem;
    text-indent: -1.5rem;
  }

  .session-logo-mobile {
    display: none;
  }

  .session-paragraph {
    display: none;
  }
}

@media screen and (max-width: 666px) {
  .session {
    height: 100vh;
    padding: 1.5rem 1rem 1rem;
  }

  .session-outer-container {
    width: 100%;
  }

  .session-logo {
    display: none;
  }

  .session-title.welcome {
    display: none;
  }

  .session-footer {
    position: fixed;
    bottom: 0;
    left: 0; 
    right: 0;
    width: 100%;
    padding: 1rem;
    background: var(--app-fg);
  }

  .session-footer button {
    width: 100%;
  }
}
