.session-frame {
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-modal);
  width: 100vw;
  height: 100vh;
  background: var(--app-nav-light);
  display: flex;
  justify-content: center;
  align-items: center;
}

.session-outer-container {
  position: relative;
  padding: 3rem 0;
}

.session-logo {
  height: 3rem;
  position: absolute;
  top: 1.25rem;
  left: 1.25rem;
}

.session {
  background: var(--app-bg);
  max-width: 40rem;
  border-radius: 2px;
  padding: 2rem;
  position: relative;
  border: 2px solid var(--bc-dim);
  overflow: auto;
  display: flex;
  flex-flow: column;
}

.session-header {
  padding: 1rem 1rem 0;
  display: block;
}

.session-main {
  flex: 1;
  padding: 0 1rem;
}

.session-main p {
  margin-bottom: 1.5rem;
}

.session-title {
  font-size: 38px;
  line-height: 44px;
  color: var(--bright);
  font-weight: 600;
  padding: 1rem 1rem 1.5rem;
}

.session-image {
  height: 6rem;
  padding-left: 1rem;
  margin: 1rem auto;
}

.session-list {
  padding: 1rem 0;
}

.session-list h3 {
  font-size: var(--h3);
  color: var(--bright);
  font-weight: 500;
  padding: 1rem 1rem 0.5rem;
}

.session-paragraph {
  margin-bottom: 1rem;
}

.session-back {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.session-close {
  position: absolute;
  right: 1.25rem;
  top: 1.5rem;
}

.session-footer {
  display: flex;
  padding: 2rem 1rem;
  flex-direction: column;
}

.footnote {
  padding: 1rem 1rem 0;
  font-size: var(--sm);
}

.component-fade-enter-active,
.component-fade-leave-active {
  transition: opacity 0.2s ease;
}

.component-fade-enter,
.component-fade-leave-to .component-fade-leave-active {
  opacity: 0;
}

.session-logo-mobile {
  display: none;
}

@media screen and (max-width: 667px) {
  .session {
    height: 100vh;
    padding: 1rem;
  }

  .session-outer-container {
    width: 100%;
  }

  .session-logo {
    display: none;
  }

  .session-logo-mobile {
    display: block;
    height: 3rem;
    margin: 1rem;
  }
}

@media screen and (max-width: 1023px) {
  .session-header,
  .session-title,
  .session-main,
  .session-footer {
    padding-left: 0;
    padding-right: 0;
  }

  .session-frame .session-close {
    display: none;
  }
}
