.data-table {
  border-spacing: 0 0.25rem;
  width: 100%;
  padding: 0;
  table-layout: fixed;
}

.data-table tr td:first-child::before {
  position: absolute;
  font-size: var(--sm);
  text-align: right;
  color: var(--dim);
  left: -1.5rem;
}

.data-table th:first-child {
  width: 5%;
  color: var(--dim);
  font-size: var(--sm)
}

.data-table th:nth-child(2) {
  width: 5%;
  color: var(--dim);
  font-size: var(--sm)
}

.data-table th:nth-child(3) {
  width: 55%;
}

.data-table th {
  padding: 0.5rem 2rem;
  text-align: left;
}

.data-table td {
  padding: 0.5rem 2rem;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.data-table__row__cell__separator::after {
  display: block;
  position: absolute;
  content: "";
  height: 2.5rem;
  width: 2px;
  top: 0.75rem;
  right: 0.75rem;
  background: var(--bc-dim);
}

.data-table__row {
  padding: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--bc-dim);
  cursor: pointer; /* assumes all rows are clickable */
}

.data-table__row__info {
  display: flex;
  align-items: center;
}

.data-table__row__info__container__status {
  left: 0;
  top: 9px;
  border-radius: 50%;
  display: inline-block;
  height: 0.5rem;
  position: absolute;
  width: 0.5rem;
}

.data-table__row__info__container__status.red {
  background: var(--danger);
}

.data-table__row__info__container__status.yellow {
  background: var(--warning);
}

.data-table__row__info__container__status.green {
  background: var(--success);
}

.data-table__row__info__container {
  position: relative;
}

.data-table__row__info__container__name {
  padding-left: 1rem;
  max-width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.data-table__row__info__image {
  height: 3rem;
  width: 3rem;
  margin-right: 0.5rem;
  display: block;
  background: var(--app-nav-light);
}

.data-table__row__info__image--no-img {
  padding: 0.5rem;
}

.data-table__row__info__container__description {
  font-size: var(--sm);
  padding-left: 1rem;
}

@media screen and (max-width: 667px) {
  .data-table th,
  .data-table td {
    padding: 0.5rem 1rem;
  }

  .data-table__row {
    max-width: calc(100vw - 2px);
    padding: 0;
  }

  .data-table__row__info {
    max-width: calc(100vw - 6rem);
  }
}