:root {
  /*  ============================================================================= */

  /* colors */
  --tertiary: hsl(325, 96%, 59%);
  --secondary: hsl(277, 92%, 58%);
  --primary: hsl(233, 88%, 57%);
  --link: hsl(217, 100%, 70%);
  --link-dark: hsl(217, 100%, 45%);
  --link-hover: rgba(31, 117, 255, 1);
  --hover: rgba(0, 0, 0, 8%);
  --hover-bg: rgba(27, 113, 255, 0.1);
  --bright: hsl(0, 100%, 100%);
  --txt: hsla(0, 100%, 100%, 0.8);
  --dim: hsla(0, 100%, 100%, 0.667);
  --bc: hsla(233, 24%, 75%, 0.175);
  --bc-dim: hsla(233, 24%, 75%, 0.0875);
  --app-fg: hsl(233, 36%, 18%);
  --app-bg: hsl(233, 30%, 22%);
  --app-nav: hsl(233, 38%, 7%);
  --app-nav-light: hsl(233, 38%, 11%);
  --black: rgb(0, 0, 0);
  --grey: hsl(234, 13%, 85%);
  --white-fade-1: rgba(177, 179, 187, 0.25);
  --white-fade-2: rgba(208, 209, 214, 0.15);
  --green: hsl(105, 60%, 44%, 1);
  --green-fade-1: hsla(105, 60%, 44%, 0.25);
  --green-fade-2: hsla(105, 60%, 44%, 0.15);
  --orange: hsla(34, 100%, 50%, 1);
  --orange-fade-1: hsla(34, 100%, 50%, 0.25);
  --orange-fade-2: hsla(34, 100%, 50%, 0.15);
  --red: hsla(0, 100%, 40%, 1);
  --red-fade-1: hsla(0, 100%, 40%, 0.25);
  --red-fade-2: hsla(0, 100%, 40%, 0.15);

  /* Transaction group colours */
  --tx-banking: #ed553b;
  --tx-staking: #47ab6c;
  --tx-governance: #15cfcc;
  --tx-distribution: #f2b134;

  /* don't change - should be consistent across themes */
  --input-bg: transparent;
  --success: hsl(120, 58%, 55%);
  --success-bc: hsl(120, 58%, 41%);
  --warning: hsl(35, 100%, 50%);
  --warning-bc: hsl(35, 75%, 38%);
  --danger: hsl(0, 100%, 55%);
  --danger-bc: hsl(0, 100%, 41%);
  --tendermint: #5ead37;

  /* ============================================================================= */

  /* typography */
  --x: 16px;
  --px: 0.0625rem;
  --sans:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  --mono: Consolas, Monaco, monospace;
  --xxl: calc(var(--x) * 1.75);
  --xl: calc(var(--x) * 1.5);
  --lg: calc(var(--x) * 1.25);
  --m: var(--x);
  --sm: calc(var(--x) * 0.75);
  --xs: calc(var(--x) * 0.7);
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1.125rem;
  --h5: 1rem;
  --h6: 0.75rem;

  /* sizes */
  --aw: 64rem;
  --width-main: 100%;
  --width-main-max: 48rem;
  --width-side: 14rem;

  /* ============================================================================= */

  /* z-index */
  --z-modalError: 1002;
  --z-modal: 1000;
  --z-appHeader: 100;
  --z-appMenu: 99;
  --z-toolBar: 98;
  --z-listItem: 10;
  --z-default: 1;
  --z-zero: 0;
  --z-below: -1;
}
