@import "themes/cosmos";
@import "themes/e-money";
@import "themes/terra";
@import "themes/polkadot";

:root {
  --input-bg: transparent;
  --menu-bright: hsl(0, 0%, 100%);
  --menu-text: hsl(0, 0%, 90%);

  --success: hsl(120, 72%, 31%);
  --warning: hsl(22, 86%, 56%);
  --danger: hsl(0, 100%, 55%);
  --info: hsl(332, 47%, 23%);

  --sky-blue: hsl(217, 100%, 70%);
  --faded-blue: hsl(226, 30%, 60%);
  --dark-grey-blue: hsl(227, 40%, 33%);

  --x: 16px;
  --px: 0.0625rem;
  --sans:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Oxygen",
    "Ubuntu",
    "Cantarell",
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  --mono: Consolas, Monaco, monospace;
  --xxl: calc(var(--x) * 1.75);
  --xl: calc(var(--x) * 1.5);
  --lg: calc(var(--x) * 1.25);
  --m: var(--x);
  --sm: calc(var(--x) * 0.75);
  --xs: calc(var(--x) * 0.7);
  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1.125rem;
  --h5: 1rem;
  --h6: 0.75rem;

  --width-side: 14rem;

  --z-modalError: 1002;
  --z-modal: 1000;
  --z-appHeader: 100;
  --z-appMenu: 99;
  --z-listItem: 10;
  --z-default: 1;
  --z-below: -1;
}