<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name=viewport content="width=device-width, user-scalable=no">
  <meta charset="utf-8">
  <title>Cosmos Voyager</title>
  <% if (htmlWebpackPlugin.options.appModules) { %>
    <% } %>

      <body style="background: #15182d">
        <script async src='https://www.google-analytics.com/analytics.js'></script>
        <div id="app" style="background: #15182d"></div>
      </body>

</html>