<!DOCTYPE html>
<meta charset="utf-8">
<title>Cosmos Voyager</title>
<% if (htmlWebpackPlugin.options.appModules) { %>
  <!-- Add `app/node_modules` to global paths so `require` works properly in development -->
  <script>
    require('module').globalPaths.push('<%= htmlWebpackPlugin.options.appModules.replace(/\\/g, '\\\\') %>')
  </script>
<% } %>
<meta name=viewport content="width=device-width, user-scalable=no">
<div id="app">
  <div id="load">
    <div id="load-container">
      <div id="load-title">Cosmos Voyager</div>
      <div id="load-main">
        <p>app is loading&hellip;</p>
        <p>need help? <a href="mailto:hello@tendermint.com">email us</a></p>
      </div>
    </div>
  </div>
</div>

<style>
<%= htmlWebpackPlugin.options.styles %>
</style>


<% if (htmlWebpackPlugin.options.enableAnalytics) { %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-51029217-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-51029217-3');
  </script>
<% } %>