container_commands:
  copy_ssl_key:
    command: cp .ebextensions/star.bettermarks.com.key /etc/nginx/conf.d/star.voyager.com.key
  copy_ssl_crt:
    command: cp .ebextensions/star.bettermarks.com.crt /etc/nginx/conf.d/star.voyager.com.crt
  copy_ssl_dhparam:
      command: cp .ebextensions/dhparam.pem /etc/nginx/conf.d/dhparam.pem