https://localhost:8080 {
  cors
  tls /etc/certs/cert.pem /etc/certs/key.pem

  proxy / node:9070/ {
    insecure_skip_verify
  }
}

https://localhost:8081 {
  tls /etc/certs/cert.pem /etc/certs/key.pem

  proxy /websocket node:26657/websocket {
    websocket
  }
}