https://localhost:8080 {
  cors
  tls self_signed

  proxy / node:9070/ {
    insecure_skip_verify
  }
}

https://localhost:8081 {
  tls self_signed

  proxy /websocket node:26657/websocket {
    websocket
  }
}