//==============================================================================
// variables

// main colors
mhue = 210
msat = 80%
mlit = 20%
mc = hsl(mhue,msat,mlit)
accent1 = hsl(60,38%,70%)
accent2 = hsl(345,85%,49%)

// app colors
app-bg = #070b0f
app-fg = hsla(mhue,25%,60%,0.125)
app-bg-alpha = alpha(app-bg, 85%)

// text colors
bright = hsl(mhue, 32%, 86%)
txt = hsl(mhue, 32%, 70%)
dim = hsl(mhue, 32%, 50%)
faint = hsl(mhue,32%, 30%)

// anchor
link = hsl(mhue,75%,65%)

// border color
bc-bright = hsl(mhue, 16%, 68%)
bc-vivid = hsl(mhue, 41%, 49%)
bc = hsl(mhue, 26%, 36%)
bc-dim = hsl(mhue, 22%, 24%)
bc-faint = hsl(mhue, 18%, 12%)

// background colors
input-bg = transparent
input-bc = bc

// typography
x = 16px
px = 0.0625rem
sans = -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif
mono = Consolas, Monaco, monospace

//==============================================================================
// methods

df()
  font-size x
  line-height 1.5
  font-family sans
  color txt

mono()
  font-family Consolas, Monaco, monospace
  font-weight normal

font-label()
  font-size 0.75rem
  color txt
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  text-transform uppercase
  color bright
