@import "reset";
@import "variables";
@import "vendor/material-icons.css";
@import "vendor/perfect-scrollbar.css";
@import "vendor/vue-directive-tooltip.css";

/* global-reset() */

/* reset-html5() */

/* --- MODULES --- */
@import "table.css";

/* --- BASICS --- */
* {
  box-sizing: border-box;
}

html,
body,
#app {
  background: var(--app-bg);
}

html {
  overflow: hidden;
}

a {
  color: var(--link);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  color: var(--link-hover);
}

#app {
  font-size: var(--x);
  line-height: 1.5;
  font-family: var(--sans);
  color: var(--txt);
  padding-top: 56px;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  font-weight: var(--font-weight, 300);
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
}

.tm-field {
  border-radius: 0.25rem !important;
}

input[readonly],
input[disabled],
textarea[readonly],
textarea[disabled] {
  background: var(--bc-dim) !important;
  border-color: var(--bc) !important;
}

input[type="radio"] {
  margin: 0;
}

input.tm-field {
  height: inherit !important;
}

.tm-select .tm-field-select-addon {
  height: 100% !important;
  border-left: 1px solid var(--input-bc, #ccc);
  width: 29px !important;
}

.tm-li-container {
  margin-right: 1rem;
}

.input-suffix {
  background: var(--bc-dim);
  display: inline-block;
  position: absolute;
  padding: 6px 8px;
  font-size: var(--sm);
  right: 30px;
  letter-spacing: 1px;
  text-align: right;
  font-weight: 500;
  border-radius: 2px;
}

#app-content {
  flex: 1;
  display: flex;
  flex-flow: column no-wrap;
}

#develop-mode-warning {
  background: red;
  text-align: center;
  height: 1.5rem;
  font-weight: 500;
  z-index: 1000000;
  width: 100%;
  top: 0;
  position: absolute;
}

#appzi-launch-button-cf1d801a-9653-4934-8a18-cea8c9e77495 {
  z-index: var(--z-appHeader) !important;
}

.mobile #develop-mode-warning {
  position: relative;
}

@media screen and (min-width: 1023px) {
  #app {
    padding-top: 0;
    flex-flow: row nowrap;
  }

  #app-content {
    display: flex;
    min-width: 0;
  }
}
