/* @import '../../../../node_modules/nib/index.styl' */
@import "reset";
@import "variables";
@import "vendor/font-awesome-adblock-bypass.css";
@import "vendor/font-awesome.css";
@import "vendor/font-awesome.min.css";
@import "vendor/material-icons.css";
@import "vendor/perfect-scrollbar.css";
@import "vendor/vue-directive-tooltip.css";
/* global-reset() */
/* reset-html5() */

/* --- MODULES --- */
@import "table.css";

/* --- BASICS --- */
* {
  box-sizing: border-box;
}
html,
body,
#app {
  background: var(--app-bg);
}
html {
  overflow: hidden;
}
a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  color: #1f75ff;
}
.desktop-only {
  display: none;
}
#app {
  font-size: var(--x);
  line-height: 1.5;
  font-family: var(--sans);
  color: var(--txt);
  padding-top: 3rem;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  font-weight: var(--font-weight, 300);
  display: flex;
  flex-flow: column nowrap;
  min-width: 0;
}
.tm-field {
  border-radius: 0.25rem !important;
}
input.tm-field {
  height: inherit !important;
}
.tm-select .tm-field {
  border: 1px solid var(--bc, #ddd);
}
.tm-select .tm-field-select-addon {
  height: 100% !important;
  border-left: 1px solid var(--bc, #ddd);
}
.tm-part-main {
  padding-right: 0 !important;
}
.tm-page-header-container {
  min-height: 5.5rem;
  background: var(--app-fg);
}
.tm-data-msg {
  border: 1px solid var(--bc-dim);
}
.tm-btn__container {
  border-width: 1px;
  padding: 0 2rem;
}
.tm-page-header-body {
  position: relative;
}
.tm-li-container {
  margin-right: 1rem;
}
#app-content {
  flex: 1;
  display: flex;
  flex-flow: column no-wrap;
}
#app-header {
  background: var(--app-nav);
}
@media screen and (min-width: 1024px) {
  #app {
    padding-top: 0;
    flex-flow: row nowrap;
  }
  #app-content {
    display: flex;
    min-width: 0;
  }
}
.desktop-only {
  display: inline;
}
