@require '../../../../node_modules/nib/index.styl'
@require 'variables'
@require 'vendor/*'
@require 'defaults/*'

global-reset()
reset-html5()

*
  box-sizing border-box

html, body, #app
  background var(--app-bg)

html
  overflow hidden

a
  color link
  text-decoration none

  &:hover
    color hover

.desktop-only
  display none

#app
  df()
  color txt
  padding-top 3rem
  height 100vh
  width 100vw
  max-width 100% // fixes bug where horizontal scrollbar appears
  font-weight 300

  display flex
  flex-flow column nowrap
  min-width 0

.ni-field
  border-radius 2px!important

#app-content
  flex 1
  display flex
  flex-flow column no-wrap

@media screen and (min-width: 1024px)
  #app
    padding-top 0
    flex-flow row nowrap

  #app-content
    display flex
    min-width 0

 .desktop-only
    display block
