@import '../../../../node_modules/nib/index.styl'
@require './variables.styl'
@require './vendor/*'

global-reset()
reset-html5()

*
  box-sizing border-box

body, input, button, textarea
  df()

body
  height 100vh
  background c-app-bg url('../assets/images/background-grid.png')
  display flex
  flex-flow column

#app
  flex 1
  display flex
  flex-flow column

#app-content
  flex 1
  display flex
  flex-flow column
  margin 0 1rem

  .page
    flex 1
    overflow-y scroll
    overflow-x visible

.ni-notifications
  left 0
  right auto !important

.scrollable-area
  overflow-y scroll

a
  color link
  text-decoration none


strong
  font-weight 600

em
  font-style italic
