@require '../../../../node_modules/nib/index.styl'
@require 'variables'
@require 'vendor/*'
@require 'defaults/*'

global-reset()
reset-html5()

*
  box-sizing border-box

html, body, #app
  background var(--app-bg)

html
  overflow hidden

a
  color var(--link)
  text-decoration none

  &:hover
    color darken(hsl(217, 100%, 70%), 20%)

.desktop-only
  display none

:root
  // change in theme-*.json files if necessary
  --tertiary  hsl(325, 96%, 59%)
  --secondary hsl(277, 92%, 58%)
  --primary   hsl(233, 88%, 57%)
  --link      hsl(217, 100%, 70%)
  --hover     rgba(0, 0, 0, 8%)
  --hover-bg  rgba(0, 0, 0, 8%)
  --bright    hsl(0, 100%, 100%)
  --txt       hsla(0, 100%, 100%, 0.8)
  --dim       hsla(0, 100%, 100%, 0.667)
  --bc        hsla(233, 24%, 75%, 0.175)
  --bc-dim    hsla(233, 24%, 75%, 0.0875)
  --app-fg    hsl(233, 36%, 18%)
  --app-bg    hsl(233, 30%, 22%)
  --app-nav   hsl(233, 38%, 14%)
  --black     rgb(0,0,0)
  --grey      hsl(234, 13%, 85%)

  // don't change - should be consistent across themes
  --input-bg transparent
  --success hsl(120,58%,55%)
  --success-bc hsl(120,58%,41%)
  --warning hsl(35,100%,50%)
  --warning-bc hsl(35,75%,38%)
  --danger hsl(0,100%,55%)
  --danger-bc hsl(0,100%,41%)
  --tendermint #5EAD37

#app
  df()
  color var(--txt)
  padding-top 3rem
  height 100vh
  width 100vw
  max-width 100% // fixes bug where horizontal scrollbar appears
  font-weight var(--font-weight, 300) // fixes 300 weight too thin on windows

  display flex
  flex-flow column nowrap
  min-width 0

// these styles should live in tendermint/ui
.tm-field
  border-radius 0.25rem !important

input.tm-field
  height inherit !important

.tm-select
  .tm-field
    border 1px solid var(--bc, #ddd);

.tm-select .tm-field-select-addon
  height 100% !important
  border-left 1px solid var(--bc, #ddd);

.tm-part-main
  padding-right 0 !important

.tm-page-header-container
  min-height 5.5rem

.tm-data-msg
  border 1px solid var(--bc-dim)

.tm-btn__container
  border-width 1px

.tm-li-container
  margin-right 1rem

#app-content
  flex 1
  display flex
  flex-flow column no-wrap

#app-header
  background var(--app-nav)

@media screen and (min-width: 1024px)
  #app
    padding-top 0
    flex-flow row nowrap

  #app-content
    display flex
    min-width 0

 .desktop-only
    display inline
