@require './variables.styl'
@require './vendor/*'

global-reset()
reset-html5()

*
  box-sizing border-box

body
  df()
  height 100vh
  background c-app-bg
  display flex
  flex-flow column

#app
  flex 1
  display flex
  flex-flow column

#app-content
  flex 1
  display flex
  flex-flow column

.scrollable-area
  overflow-y scroll

.card-empty
  background c-app-fg
  height 3rem
  display flex
  justify-content center
  align-items center
  color light

a
  color link
  text-decoration none

body, input, button, textarea
  font-size x
  line-height 1.5
  font-family sans

strong
  font-weight 600

em
  font-style italic

@require './partials/*'
