body {
  margin: 0;
}

#load {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: var(--app-bg);
}

#load-container {
  font:
    16px/1.5 system,
    -apple-system,
    BlinkMacSystemFont,
    "Roboto",
    "Seogue UI",
    "Helvetica Neue",
    "Lucida Grande",
    sans-serif;
  margin: 0 auto;
  width: 18rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  box-sizing: border-box;
}

#load-title {
  font-size: var(--h2);
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: var(--bright);
  margin-bottom: 1rem;
  padding: 0 0.5rem;
}

#load-main p {
  font-size: var(--m);
  line-height: 2rem;
  font-weight: 400;
  padding: 0 0.5rem;
  color: var(--dim);
  background: var(--app-fg);
  margin: 0 0 1px;
}

#load-main a {
  text-decoration: none;
  color: var(--link);
}
