@require './variables.styl'
@require './vendor/*'

global-reset()
reset-html5()

*
  box-sizing border-box

body
  df()
  background c-app-bg
  padding-top 3rem

a
  color link
  text-decoration none

body, input, button, textarea
  font-size x
  line-height 1.5
  font-family sans

strong
  font-weight 600

em
  font-style italic

.page-user-menu
  padding-top 1.5rem
@require './partials/*'
