.form
  margin 0.5rem
  background c-app-fg
  border 1px solid bc
  padding 0.5rem

  .form-group, .form-footer
    padding 0.5rem

    label
      display none
      font-size 0.75rem
      line-height 2rem

  .form-footer
    .pz-button
      width 10rem

