.master-detail
  padding-top 2.4rem
  min-height 100vh
  background c-app-fg

.master-detail + .app-bottom .section-bottom
  display none

.detail
  padding 0 1rem 1rem

.master 
  position fixed
  top 0
  left 0
  width 100vw

  nav
    padding-top 3*x
    padding-bottom x*0.75
    position relative
    height 100vh
    overflow hidden

    z-index 10

    background c-app-bg

  .btn-thumb
    display block

  &.mobile-active nav
    display block

  &.mobile-inactive nav
    display none

  .title
    font-size 0.75*x
    font-weight bold
    text-transform uppercase
    letter-spacing 0.0625em
    line-height 2
    padding x x*1.5 x*0.25

    color lighten(mcolor, 40%)

  a + .title
    margin-top 0.75*x
  a
    display block
    padding 0.25*x x*1.5
    padding-left 1.25*x
    position relative
    border-left 0.25*x solid transparent

    color txt
    color lighten(mcolor,75%)

    &:hover
      color lighten(mcolor,90%)
      border-left-color link
    &.router-link-active
      color lighten(mcolor,75%)
      border-left-color link

@media screen and (min-width: 360px)
  .detail
    padding-left 1.5*x
    padding-right 1.5*x

@media screen and (min-height: 400px)
  .master-detail
    padding-top 3*x

@media screen and (min-width: 720px)
  .master
    width 33.3vw

    nav
      padding-top 3.5*x

    .btn-thumb
      display none !important

  .detail
    margin-left 33.3vw
    padding-left 2*x
    padding-right 2*x

  .master-detail + .app-bottom .app-footer
    .sections
      padding-left 240px + 2*x !important
    section
      flex 0 0 50% !important

@media screen and (min-width: 960px)
  .detail
    padding-left 4*x
    padding-right 4*x

  .master-detail + .app-bottom .app-footer
    .sections
      padding-left 320px + x !important
      padding-right x !important
    section
      flex 0 0 25% !important

@media screen and (min-width: 1200px)
  .master
    width 25vw
  .detail
    margin-left 25vw
    padding-bottom 6rem
    padding-top 2rem
