.page-split
  .page-content
    min-height 50vh

@media screen and (min-width: 960px)
  .page-split
    display flex
    flex-flow row nowrap
    align-items stretch
    min-height 70vh

    .pz-page-header
      flex 0 0 33.3vw
      margin-bottom 0
      border-bottom none

    .page-content
      flex 0 0 66.7vw
      border none
      .section-container
        padding 3*x !important
        .section-content
          padding 0

@media screen and (min-width: 1200px)
  .page-split
    .pz-page-header
      flex 0 0 25vw

    .page-content
      flex 0 0 75vw
