.section-default
  border-bottom 1px solid bc
  background c-app-fg

  .section-container
    padding x 0
    max-width 1200px
    margin 0 auto

    &:empty
      display none

    .section-header
      padding x 0

      h2
        font-weight 500
        color light
        font-size 1.25*x
        text-align center

    .section-content
      padding x
      &:empty
        display none

  &.section-dark
    background mcolor linear-gradient(top, lighten(mcolor,5%), darken(mcolor,5%))
    background mcolor
    border-bottom-color lighten(mcolor, 10%)

    .key, a, h2
      color lighten(mcolor,93%) !important

    .value, .content p
      color lighten(mcolor,70%)

@media screen and (min-width: 360px)
  .section-default
    .section-container
      .section-content
        padding-left 1.5*x
        padding-right 1.5*x

@media screen and (min-width: 720px)
  .section-default
    .section-container
      .section-header
        h2
          font-size 1.5*x
      .section-content
        padding-left 2*x
        padding-right 2*x

@media screen and (min-width: 960px)
  .section-default
    .section-container
      .section-header
        h2
          text-align left
