<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta name=viewport content="width=device-width, user-scalable=no">
  <meta charset="utf-8">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ffffff">

  <meta http-equiv="Content-Security-Policy" content="%%CSP_CONTENT%%">
  <title>Lunie</title>

  <link rel="apple-touch-icon" sizes="180x180"
    href="images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32"
    href="images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16"
    href="images/favicon-16x16.png">
  <!-- Needs webpack loader -->
  <!-- <link rel="manifest" href="images/site.webmanifest"> -->
  <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">

  <% if (htmlWebpackPlugin.options.appModules) { %>
  <% } %>
</head>

<body style="background: #15182d">
  <% if (process.env.E2E_TESTS) { %>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
  <!-- Appzi: Capture Insightful Feedback -->
  <script async
    src="https://app.appzi.io/bootstrap/bundle.js?token=LWNp0"></script>
  <!-- End Appzi -->
  <% } %>

  <div id="app" style="background: #15182d"></div>
</body>

</html>