@import '../../node_modules/nib/index.styl'
@import './print.styl' print

@require './variables.styl'
@require './vendor/*'

global-reset()
reset-html5()

*
  box-sizing border-box

body
  background app-bg
  padding-top 3rem + 4*px
  -webkit-text-size-adjust 100%

a
  color link
  text-decoration none
  cursor pointer
  &:hover
    color hover

body, input, button, textarea
  df()

strong
  font-weight 600

em
  font-style italic

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  line-height 1.25
  color bright
  font-weight 500
  &.material-icons
    font-family "Material Icons"
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0

h1, .h1
  font-size h1 * 0.875

h2, .h2
  font-size h2 * 0.875

h3, .h3
  font-size h3

h4, .h4
  font-size h4

h5, .h5
  font-size h5

h6, .h6
  font-size h6
  color dim
  text-transform uppercase
  letter-spacing 0.0625em

@media screen and (min-width: 1024px)
  h1, .h1
    font-size h1

  h2, .h2
    font-size h2

  h3, .h3
    font-size h3

  .mobile-only
    display none

.anim-spin
  -webkit-animation: keyframes-spin 2s infinite linear
  animation: keyframes-spin 2s infinite linear

.anim-pulse
  -webkit-animation: keyframes-spin 1s infinite steps(8)
  animation: keyframes-spin 1s infinite steps(8)

@keyframes keyframes-spin
  0%
    -webkit-transform: rotate(0deg)
    transform: rotate(0deg)
  100%
    -webkit-transform: rotate(359deg)
    transform: rotate(359deg)

.mobile
  visibility visible

.desktop
  visibility collapse

.desktop-inline
.desktop-block
.desktop-flex
  display none
@media screen and (min-width: 768px)
  .mobile
    visibility collapse
  .desktop
    visibility visible
  .desktop-inline
    display inline
  .desktop-block
    display block
  .desktop-flex
    display flex
